### Fetching Data from Api

Importing Libraries

In [1]:
import pandas as pd
import requests as req
import warnings
warnings.filterwarnings("ignore")

In [2]:
respond = req.get("https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1")

In [3]:
df = pd.DataFrame(respond.json()["results"])

In [4]:
df

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,133.218,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.704,25643
1,False,/tmU7GeKVybMWFButWEGl2M4GeiP.jpg,"[18, 80]",238,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",107.773,/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14,The Godfather,False,8.696,19500
2,False,/kGzFbGhp99zva6oZODW5atUtnqi.jpg,"[18, 80]",240,en,The Godfather Part II,In the continuing saga of the Corleone crime f...,66.267,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20,The Godfather Part II,False,8.577,11779
3,False,/3f92DMBTFqr3wgXpfxzrb0qv8nG.jpg,"[18, 36, 10752]",424,en,Schindler's List,The true story of how businessman Oskar Schind...,77.874,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15,Schindler's List,False,8.566,15155
4,False,/mSDsSDwaP3E7dEfUPWy4J0djt4O.jpg,"[16, 10751, 14]",129,ja,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...",92.728,/39wmItIWsg5sZMyRUHLkWBcuVCM.jpg,2001-07-20,Spirited Away,False,8.539,15556
5,False,/qqHQsStV6exghCM7zbObuYBiYxw.jpg,[18],389,en,12 Angry Men,The defense and the prosecution have rested an...,60.337,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10,12 Angry Men,False,8.537,8066
6,False,/90ez6ArvpO8bvpyIngBuwXOqJm5.jpg,"[35, 18, 10749]",19404,hi,दिलवाले दुल्हनिया ले जायेंगे,"Raj is a rich, carefree, happy-go-lucky second...",33.078,/lfRkUr7DYdHldAqi3PwdQGBRBPM.jpg,1995-10-20,Dilwale Dulhania Le Jayenge,False,8.535,4345
7,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,"[18, 28, 80, 53]",155,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,95.279,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,2008-07-16,The Dark Knight,False,8.515,31500
8,False,/hiKmpZMGZsrkA3cdce8a7Dpos1j.jpg,"[35, 53, 18]",496243,ko,기생충,"All unemployed, Ki-taek's family takes peculia...",93.272,/7IiTTgloJzvGI1TAYymCfbfl3vT.jpg,2019-05-30,Parasite,False,8.500,17139
9,False,/l6hQWH9eDksNJNiXWYRkWqikOdu.jpg,"[14, 18, 80]",497,en,The Green Mile,A supernatural tale set on death row in a Sout...,72.453,/8VG8fDNiy50H4FedGwdSVUPoaJe.jpg,1999-12-10,The Green Mile,False,8.508,16518
10,False,/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg,"[16, 10749, 18]",372058,ja,君の名は。,High schoolers Mitsuha and Taki are complete s...,68.128,/q719jXXEzOoYaps6babgKnONONX.jpg,2016-08-26,Your Name.,False,8.497,10767
11,False,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,"[53, 80]",680,en,Pulp Fiction,"A burger-loving hit man, his philosophical par...",110.668,/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg,1994-09-10,Pulp Fiction,False,8.490,26685
12,False,/qdIMHd4sEfJSckfVJfKQvisL02a.jpg,"[35, 18, 10749]",13,en,Forrest Gump,A man with a low IQ has accomplished great thi...,188.278,/arw2vcBveWOVZr6pxd9XTd1TdQa.jpg,1994-06-23,Forrest Gump,False,8.477,26207
13,False,/2u7zbn8EudG6kLlBzUYqP8RyFU4.jpg,"[12, 14, 28]",122,en,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,109.430,/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg,2003-12-01,The Lord of the Rings: The Return of the King,False,8.500,23064
14,False,/sw7mordbZxgITU877yTpZCud90M.jpg,"[18, 80]",769,en,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",71.244,/aKuFiU82s5ISJpGZp7YkIr3kCUd.jpg,1990-09-12,GoodFellas,False,8.500,12169
15,False,/x4biAVdPVCghBlsVIzB6NmbghIz.jpg,[37],429,it,"Il buono, il brutto, il cattivo",While the Civil War rages on between the Union...,62.469,/bX2xnavhMYjWDoZp1VM6VnU1xwe.jpg,1966-12-22,"The Good, the Bad and the Ugly",False,8.466,8091
16,False,/dlC0ed9Ugh3FzydnkBtV5lRXUu4.jpg,"[16, 18, 10752]",12477,ja,火垂るの墓,"In the final months of World War II, 14-year-o...",0.600,/k9tv1rXZbOhH7eiCk378x61kNQ1.jpg,1988-04-16,Grave of the Fireflies,False,8.460,5117
17,False,/qvZ91FwMq6O47VViAr8vZNQz3WI.jpg,"[28, 18]",346,ja,七人の侍,A samurai answers a village's request for prot...,32.522,/8OKmBV5BUFzmozIC3pPWKHy17kx.jpg,1954-04-26,Seven Samurai,False,8.453,3407
18,False,/zoVeIgKzGJzpdG6Gwnr7iOYfIMU.jpg,"[18, 10749]",11216,it,Nuovo Cinema Paradiso,"A filmmaker recalls his childhood, when he fel...",35.954,/8SRUfRUi6x4O68n0VCbDNRa6iGL.jpg,1988-11-17,Cinema Paradiso,False,8.454,4120
19,False,/gavyCu1UaTaTNPsVaGXT6pe5u24.jpg,"[35, 18]",637,it,La vita è bella,A touching story of an Italian book seller of ...,35.718,/6tEJnof1DKWPnl5lzkjf0FVv7oB.jpg,1997-12-20,Life Is Beautiful,False,8.500,12578

In [5]:
for i in range(1,460):
    respond = req.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df= pd.DataFrame(respond.json()["results"])[['original_title','overview','genre_ids']]
    df=df.append(temp_df,ignore_index=True)

In [6]:
df.head(1)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/kXfqcdQKsToO0OUXHcrrNCHDBzO.jpg,"[18, 80]",278.0,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,133.218,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23,The Shawshank Redemption,False,8.704,25643.0

In [7]:
Data = df[['original_title','overview','genre_ids']]

In [8]:
Data

,original_title,overview,genre_ids
0,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[18, 80]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...","[16, 10751, 14]"
...,...,...,...
9195,The Human Centipede 3 (Final Sequence),Taking inspiration from The Human Centipede fi...,"[27, 35]"
9196,The Open House,A teenager and his mother find themselves besi...,"[27, 53]"
9197,FearDotCom,When four bodies are discovered among the indu...,"[27, 53, 80]"
9198,Les Dalton,Joe and Averell are the eldest and youngest of...,"[35, 37]"
9199,The Star Wars Holiday Special,Luke Skywalker and Han Solo battle evil Imperi...,"[14, 878, 10751, 10770]"

In [9]:
Data['genre_ids']

0                      [18, 80]
1                      [18, 80]
2                      [18, 80]
3               [18, 36, 10752]
4               [16, 10751, 14]
                 ...
9195                   [27, 35]
9196                   [27, 53]
9197               [27, 53, 80]
9198                   [35, 37]
9199    [14, 878, 10751, 10770]
Name: genre_ids, Length: 9200, dtype: object

In [10]:
res1=req.get('https://api.themoviedb.org/3/genre/movie/list?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US')

In [11]:
res1.json()

{'genres': [{'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'},
  {'id': 16, 'name': 'Animation'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 80, 'name': 'Crime'},
  {'id': 99, 'name': 'Documentary'},
  {'id': 18, 'name': 'Drama'},
  {'id': 10751, 'name': 'Family'},
  {'id': 14, 'name': 'Fantasy'},
  {'id': 36, 'name': 'History'},
  {'id': 27, 'name': 'Horror'},
  {'id': 10402, 'name': 'Music'},
  {'id': 9648, 'name': 'Mystery'},
  {'id': 10749, 'name': 'Romance'},
  {'id': 878, 'name': 'Science Fiction'},
  {'id': 10770, 'name': 'TV Movie'},
  {'id': 53, 'name': 'Thriller'},
  {'id': 10752, 'name': 'War'},
  {'id': 37, 'name': 'Western'}]}

In [12]:
df2= pd.DataFrame(res1.json()['genres'])

In [13]:
df2

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [14]:

genre_id_to_name = pd.Series(df2.name.values, index=df2.id).to_dict()


def replace_ids_with_names(id_list):
    return [genre_id_to_name.get(genre_id, "Unknown") for genre_id in id_list]

# Apply the function to each row in df2
Data['genre_names'] = Data['genre_ids'].apply(replace_ids_with_names)

print(Data)

                              original_title  \
0                   The Shawshank Redemption
1                              The Godfather
2                      The Godfather Part II
3                           Schindler's List
4                                   千と千尋の神隠し
...                                      ...
9195  The Human Centipede 3 (Final Sequence)
9196                          The Open House
9197                              FearDotCom
9198                              Les Dalton
9199           The Star Wars Holiday Special

                                               overview  \
0     Framed in the 1940s for the double murder of h...
1     Spanning the years 1945 to 1955, a chronicle o...
2     In the continuing saga of the Corleone crime f...
3     The true story of how businessman Oskar Schind...
4     A young girl, Chihiro, becomes trapped in a st...
...                                                 ...
9195  Taking inspiration from The Human Centipede fi...
9196  A teenager and his mother find themselves besi...
9197  When four bodies are discovered among the indu...
9198  Joe and Averell are the eldest and youngest of...
9199  Luke Skywalker and Han Solo battle evil Imperi...

                    genre_ids                                   genre_names
0                    [18, 80]                                [Drama, Crime]
1                    [18, 80]                                [Drama, Crime]
2                    [18, 80]                                [Drama, Crime]
3             [18, 36, 10752]                         [Drama, History, War]
4             [16, 10751, 14]                  [Animation, Family, Fantasy]
...                       ...                                           ...
9195                 [27, 35]                              [Horror, Comedy]
9196                 [27, 53]                            [Horror, Thriller]
9197             [27, 53, 80]                     [Horror, Thriller, Crime]
9198                 [35, 37]                             [Comedy, Western]
9199  [14, 878, 10751, 10770]  [Fantasy, Science Fiction, Family, TV Movie]

[9200 rows x 4 columns]

In [15]:
Data

,original_title,overview,genre_ids,genre_names
0,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[18, 80]","[Drama, Crime]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","[Drama, Crime]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]","[Drama, Crime]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","[Drama, History, War]"
4,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...","[16, 10751, 14]","[Animation, Family, Fantasy]"
...,...,...,...,...
9195,The Human Centipede 3 (Final Sequence),Taking inspiration from The Human Centipede fi...,"[27, 35]","[Horror, Comedy]"
9196,The Open House,A teenager and his mother find themselves besi...,"[27, 53]","[Horror, Thriller]"
9197,FearDotCom,When four bodies are discovered among the indu...,"[27, 53, 80]","[Horror, Thriller, Crime]"
9198,Les Dalton,Joe and Averell are the eldest and youngest of...,"[35, 37]","[Comedy, Western]"
9199,The Star Wars Holiday Special,Luke Skywalker and Han Solo battle evil Imperi...,"[14, 878, 10751, 10770]","[Fantasy, Science Fiction, Family, TV Movie]"

In [21]:
dataframe=Data.rename(columns={"original_title":'name',"overview":'description',"genre_ids":'G_id',"genre_names":'Genre'})

In [22]:
dataframe

,name,description,G_id,Genre
0,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,"[18, 80]","[Drama, Crime]"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]","[Drama, Crime]"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"[18, 80]","[Drama, Crime]"
3,Schindler's List,The true story of how businessman Oskar Schind...,"[18, 36, 10752]","[Drama, History, War]"
4,千と千尋の神隠し,"A young girl, Chihiro, becomes trapped in a st...","[16, 10751, 14]","[Animation, Family, Fantasy]"
...,...,...,...,...
9195,The Human Centipede 3 (Final Sequence),Taking inspiration from The Human Centipede fi...,"[27, 35]","[Horror, Comedy]"
9196,The Open House,A teenager and his mother find themselves besi...,"[27, 53]","[Horror, Thriller]"
9197,FearDotCom,When four bodies are discovered among the indu...,"[27, 53, 80]","[Horror, Thriller, Crime]"
9198,Les Dalton,Joe and Averell are the eldest and youngest of...,"[35, 37]","[Comedy, Western]"
9199,The Star Wars Holiday Special,Luke Skywalker and Han Solo battle evil Imperi...,"[14, 878, 10751, 10770]","[Fantasy, Science Fiction, Family, TV Movie]"

In [23]:
dataframe.to_csv('data.csv', index=False)